/***************************************************************************************************
 * FILE: dropDown.css
 *
 * PURPOSE
 * Defines reusable dropdown components used throughout the ShopMate application.
 *
 * RESPONSIBILITIES
 * • Group dropdown button
 * • Dropdown arrow
 *
 * PAGES
 * • Shared Across Multiple Pages
 ***************************************************************************************************/
/* Group Dropdown Button */
.groupDropdownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
  border: 1px solid var(--borderColor);

  background: var(--cardColor);
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
}
/* Dropdown Arrow */
.dropdownArrow {
  color: var(--textPrimary);
  font-size: 16px;
}
